.btn__error {
    text-align: center;
}

.btn__error__boton {
    width: 16rem;
    background-color: rgb(255, 123, 0) !important;
    border-color: rgb(255, 123, 0) !important;
    font-size: 14pt !important;
    font-weight: bold !important;

}