
.navSticky {




    position: sticky !important;
    height: 50px;
    top: 0;
    padding: 0;
    margin: 0%;
    z-index: 2;
    max-width: 100%;
    /* Full width */


}



.nav-link {
    color: black !important;
    font-size: 12pt !important;

}

.navbar-brand {

    color: black !important;
    font-size: 13pt !important;
    font-weight: bold;

}

